.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel
.vercel_build_ouput
__unconfig_vite.config.js
/static
/src/generated
.husky
.tool-versions
/src/i18n/i18n-*
# Local Netlify folder
.netlify
